<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Bill ID</title>
    <link rel="stylesheet" href="/static/enter_bill_id.css" />
</head>
<body>
    <div class="container">
        <h1>Enter Bill ID to Edit</h1>
        <form method="POST">
            <label for="bill_id"></label>
            <input type="text" id="bill_id" name="bill_id" placeholder="Bill ID:" required>
            <button type="submit">Edit The Details</button>
        </form>
    </div>
</body>
</html>
